doctype
html
    body
        h1 BURGUER TOM
        p El mejor restaurante de comida rápida de Santa Anita
        .carrera 
        p Analista Programador de Sistemas
        .profesion Técnica 
            .container
                nav
                    ul
                        li 
                            a prueba 1 
                        li 
                            a prueba 2
                        li 
                            a prueba 3
                        li 
                            a prueba 4
                        li 
                            a prueba 5
                        li  
                            a prueba 6